

system {
    host-name {{inventory_hostname}};
    no_redirects;
{% if global_vars.dns is defined %}
    name-server {
{%      for dns_server in global_vars.dns %}
        {{dns_server}};

{%      endfor %}
    }
{%  endif %}
    root-authentication {
        encrypted-password "{{ global.root_pwd }}"; ## SECRET-DATA